Checks: >
    *,
    -*-avoid-c-arrays,
    -*-braces-around-statements,
    -*-magic-numbers,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-pro-bounds-constant-array-index,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -google-build-using-namespace,
    -google-explicit-constructor,
    -google-runtime-int,
    -google-runtime-references,
    -fuchsia-default-arguments-calls,
    -fuchsia-default-arguments-declarations,
    -fuchsia-overloaded-operator,
    -fuchsia-statically-constructed-objects,
    -hicpp-explicit-conversions,
    -hicpp-vararg,
    -llvmlibc-*,
    -modernize-use-trailing-return-type,
    -modernize-pass-by-value,
    -readability-convert-member-functions-to-static,
    -readability-else-after-return,
    -readability-implicit-bool-conversion,
    -readability-isolate-declaration,
